<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.user.mapper.DictionaryMapper">

	<!-- 映射 -->
	<resultMap id="BaseResultMap" type="system.user.model.DictionaryModel">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="descr" property="descr" />
		<result column="type" property="type" />
		<result column="pcode" property="pcode" />
	</resultMap>

	<!-- 全部字段 -->
	<sql id="Base_Column_List">
		id,name,code,descr,type,pcode
	</sql>
	
	<!-- 主要字段 -->
	<sql id="Main_Column_List">
		id,name,code,descr,type,pcode
	</sql>
	
	<!-- 子查询/未改 -->
	<sql id="Join_Column_List">
		a,b,
		(select t2.c
		from table2) c
	</sql>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="code != null and code != ''">
			and code = #{code}
		</if>
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
		<if test="pcode != null and pcode != ''">
			and pcode = #{pcode}
		</if>
		<if test="descr != null and descr != ''">
			and descr like CONCAT('%', #{descr}, '%')
		</if>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dictionary
		(
		<include refid="Base_Column_List" />
		)
		values(
		#{id},#{name}, #{code},,#{descr}, #{type},#{pcode}		
		)
	</insert>
	
	<!-- 根据code删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from dictionary where code = #{code}
	</delete>
	
	<!-- 多条件删除记录 -->
	<delete id="deleteModel" parameterType="Object">
		delete from dictionary
		<include refid="Example_Where_Clause" />
	</delete>
	
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="update" parameterType="Object">
		update dictionary set
		<trim suffixOverrides=",">
			<if test="id != null">
				id = #{id},
			</if>
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="descr != null and descr != '' ">
				descr = #{descr},
			</if>
			<if test="type != null and type != '' ">
				type = #{type},
			</if>
			<if test="pcode != null and pcode != '' ">
				pcode = #{pcode},
			</if>
		</trim>
		where code = #{code}
	</update>
	
	<update id="updateAll" parameterType="Object">
		update dictionary set
		id = #{id},name = #{name},descr = #{descr},type = #{type},pcode = #{pcode}	
		where code = #{code}
	</update>
	
	<!-- 根据code查询主要的  -->
	<select id="selectCode" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Main_Column_List" />
		from dictionary				
		where code = #{code}
	</select>

	<!-- 查询数量 -->
	<select id="selectCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) 
		from  dictionary
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 查询主要 -->
	<select id="select" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Main_Column_List" />
		from  dictionary		
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 查询全部 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from  dictionary		
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 查询关联或者子查询的信息 /未用-->
	<select id="selectJoin" resultType="java.util.HashMap" parameterType="Object">
		select <include refid="Join_Column_List" />
		from  table1 t1
		left outer join table2 t2 on t1.code = t2.code		
		<include refid="Example_Where_Clause" />
	</select>	
	
</mapper>   
